DB_URL=jdbc:postgresql://NEON_DIRECT_HOST/neondb?sslmode=require&channelBinding=require
DB_USERNAME=NEON_DATABASE_USER
DB_PASSWORD=NEON_DATABASE_PASSWORD
FRONTEND_ORIGINS=https://leetbrofinder.rmkrv.com
